$primary-color: #52b6ec;
$secondary-color:#ff9900;
$tertiary-color:grey;
$blue-color:blue;
$white:white;
$black:black;
$primaryBG: #fafafa;
$secondaryBG:#ff9900;
$tertiaryBG:linear-gradient(180deg, #52b6ec 0%, rgba(82, 182, 236, 0) 100%);
$box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
$font-size: 16px;
$font-family: "Poppins", sans-serif;
$font-weight: 400;
$font-style: normal;
$justify:space-between;
$align:center;
$mobile: 768px;
$desktop-small:1024px;
$desktop-large:1440px;